<table border="1" cellspacing="0" cellpadding="0" width="602" align="center" bordercolor="#e7e7e7">
<tbody>
<tr>
<td align="center">
  <img src="../../../imagen/newsletter/encabezado_newsletter.jpg" alt="" width="600" height="120" align="center" />
  <table border="0" cellspacing="5" cellpadding="5" width="100%">
<tbody>
<tr>
<td width="65%" valign="top">Columna Izquierda 65%.</td>
<td width="35%" valign="top" bgcolor="#f7f7f7">Columna derecha 35%.</td>
</tr>
</tbody>
</table>
<img src="../../../imagen/newsletter/pie_newsletter.jpg" alt="" width="600" height="39" align="center" /></td>
</tr>
</tbody>
</table>
<table border="0" cellspacing="15" cellpadding="0" width="602" align="center">
<tbody>
<tr>
<td class="news_izq_copete" style="color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:11px;" align="center">
<div>
<hr style="width: 100%; height: 1px;" size="1" />
&nbsp;Bajo el decreto S.1618 titulo 3ro. Aprobado por el 105 congreso base de las normativas internacionales sobre SPAM, un E-mail no podr&aacute; ser considerado SPAM mientras incluya una forma de ser removido. Si no desea pertenecer a nuestro mailing por favor responda este mail solicitando la baja. Gracias.</div>
</td>
</tr>
</tbody>
</table>